<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cricket Battles</title>
</head>

<body>
    <div class="tournament-list">
        <div class="item">
            <div class="header">England vs India T20</div>
            <div class="body">
                <div class="content">
                    <img src="" alt="">
                    PIH
                </div>
                <div class="content">
                    30m 8s
                </div>
                <div class="content">
                    IND
                    <img src="" alt="">
                </div>
            </div>
        </div>
    </div>
</body>

</html>