<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/joinStyles.css">
    <title>Join A Match</title>
</head>

<body>
    <div class="one">
        <label for="">Room Code</label>
        <input type="text" name="" id="" readonly>
        Copy this code and paste in game
    </div>
    <div class="terms">
        <div class="title">Terms and Conditions</div>
        <ol>
            <li>Record the game</li>
            <li>If there is any problem in game take screenshot and contact support</li>
            <li>If any user cannot join game so cancel</li>
            <li>If u give false results you pay Rs 50 as fine</li>
        </ol>
    </div>
    <div class="results">
        <p>Give your true results</p>
        <div class="result-container">
            <div class="result">
                <label for="">1st</label>
                <input type="radio" name="result" id="result">
            </div>
            <div class="result">
                <label for="">2nd</label>
                <input type="radio" name="result" id="result">
            </div>

            <div class="result">
                <label for="">3rd</label>
                <input type="radio" name="result" id="result">
            </div>
            <div class="result">
                <label for="">4th</label>
                <input type="radio" name="result" id="result">
            </div>
        </div>
    </div>
    <div class="info">
        If u get any problem before starting game you can easily cancel a match
        <br><br>
        <label for="cancel">Cancel this match</label>
        <input type="checkbox" name="" id="cancel">
    </div>
    <input type="submit" class="btn-main" value="SUBMIT">
</body>

</html>