<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/loginStyles.css">
    <title>Login to Rinzo</title>
</head>

<body>
    <form action="" method="post" class="loginContainer">
        <h1 class="h1">Login to Rinzo</h1>
        <div class="text">
            <label for="phone">Phone Number</label>
            <input type="email" name="email" id="phone" class="form-control" required>
        </div>
        <input type="submit" class="btn" value="Log In">
    </form>
</body>

</html>