<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/offerStyles.css">
    <title>Offer and Earnings | Rinzo</title>
</head>

<body>
    <div class="banner">
        <img src="/img/copy-trading-mode-banner.png" alt="">
    </div>
    <div class="grid">
        <div class="grid-item one">
            <div class="title">Spinwheel & Earn</div>
            <img src="/img/spinwheel.png" alt="">
            <p class="text">
                spin wheel and win money by ads on the wheel
            </p>
            <div class="btn-med">Start Now</div>
        </div>
        <div class="grid-item two">
            <div class="title">Refer Product</div>
            <img src="/img/refer-product.png" altpng" alt="">

        </div>
        <div class="grid-item three">
            <div class="title">Offer</div>
            <img src="/img/special-offers.png" alt="">
        </div>
        <div class="grid-item four">
            <div class="title">Download & Earn</div>
            <img src="/img/download-and-earn.png" alt="">
            <p class="text">you can copy the trade experience of trader and earn profit in crypto.</p>
            <div class="btn-med">Start Now</div>
        </div>
    </div>
</body>

</html>