<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/tradingStyles.css">
    <title>Trading | Rinzo</title>
</head>

<body>
    <div class="banner">
        <img src="/img/copy-trading-mode-banner.png" alt="">
    </div>
    <div class="grid">
        <div class="grid-item one">
            <div class="title">Startup</div>
            <img src="/img/startup.png" alt="">
            <p class="text">
                you can invest your money in startups in one minute.
            </p>
            <div class="btn-med">Start Now</div>
        </div>
        <div class="grid-item two">
            <div class="title">Education</div>
            <img src="/img/education.png" alt="">
            <div class="btn-med">Start Now</div>

        </div>
        <div class="grid-item three">
            <div class="title">Trade Bet 2X</div>
            <img src="/img/trading.png" alt="">
            <div class="btn-med">Start Now</div>

        </div>
        <div class="grid-item four">
            <div class="title">Copy Trading</div>
            <img src="/img/copy-trading.png" alt="">
            <p class="text">you can copy the trade experience of trader and earn profit in crypto.</p>
            <div class="btn-med">Start Now</div>
        </div>
    </div>
</body>

</html>