<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/walletStyles.css">
    <title>Wallet | Rinzo</title>
</head>

<body>
    <div class="funds">
        <div class="wrap">
            <div class="label">
                Your Balance
            </div>
            <div class="balance">
                <%=balance %>
            </div>
        </div>
        <div class="wrap">
            <div class="label">
                Your Points
            </div>
            <div class="balance">
                <%= coins %>
            </div>
        </div>
        <div class="actions">
            <div class="btn green">Add Fund</div>
            <div class="btn red">Withraw</div>
        </div>
    </div>
    <div class="banner">
        <div class="left">
            <h1>
                Play Now<br>
                Pay Later
            </h1>
            <p>
                Get Money<br>
                Play Hard
            </p>
        </div>
        <div class="right">
            Starts on<br>
            <span class="time">01/7/2022</span>
            <div class="btn-big">Play Now</div>
        </div>
    </div>
</body>

</html>