* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.one {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.one input {
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    border: none;
    margin: 5px 0;
}

.one label {
    font-weight: bold;
    font-size: 20px;
}

.terms {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 10px;
}

.terms .title {
    font-size: 18px;
}

.terms ol {
    padding-left: 5px;
    margin-top: 10px;
    line-height: 26px;
}

.results {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-top: 10px;
}

.results p {
    margin-bottom: 10px;
}

.results .result-container {
    display: flex;
    justify-content: space-evenly;
}

.info {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.btn-main {
    padding: 10px 20px;
    color: white;
    background-color: rgb(0, 190, 63);
    border-radius: 10px;
    border: none;
    margin: 5px;
}