.navigation {
    position: fixed;
    top: 0;
    left: -100%;
    background-color: #115F78;
    height: 100vh;
    z-index: 1;
    color: white;
    width: 80%;
    transition: 1s ease-out forwards;
}

.navigation.active {
    left: 0;
}

.navigation .nav-links {
    display: flex;
    flex-direction: column;
}

.navigation .nav-links .nav-link {
    padding: 20px;
    color: initial;
    display: flex;
    align-items: center;
}

.navigation .nav-links .nav-link ion-icon:nth-child(3) {
    font-size: 1.6em;
    color: white;
}

.navigation .nav-links .nav-link ion-icon:nth-child(1) {
    font-size: 2.4em;
    color: white;
}

.navigation .nav-links .nav-link .link-text {
    border-bottom: 1px solid white;
    display: block;
    width: 100%;
    margin-left: 10px;
    padding: 10px;
    color: white;
}